/* @import  */

@font-face {
  font-family: 'GilroyRegular';
  src: url('../fonts/gilroy-regular.eot');
  src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Regular.ttf') format('truetype'), url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GilroyMedium';
  src: url('../fonts/gilroy-medium.eot');
  src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GilroyBold';
  src: url('../fonts/gilroy-bold.eot');
  src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  background-color: #000;
}

body {
  overflow: hidden;
}

* {
  font-family: GilroyRegular;
  color: #FFFCF9;
}

a,
.v-application a {
  color: #FFFCF9;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0 50px #000;
  -webkit-text-fill-color: #FFF;
}

a.nuxt-link-active {
  text-decoration: underline;
}

h1,
h2 {
  font-family: GilroyBold;
  letter-spacing: 0.05em;
  color: #FFFCF9;
  line-height: 120%;
}

p {
  color: #8E8E8E;
  font-style: 14px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
  margin: 70px 0px 35px;
}




/* Nuxt pages transitions */

.page-enter-active,
.page-leave-active {
  transition: all .3s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
}


/* Nuxt layouts transitions */

.layout-enter-active,
.layout-leave-active {
  transition: all .4s
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
  transform: translateY(10px);
}

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #108775;
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  font-family: sans-serif;
}


/* REWRITE RULES */

.v-application ul {
  list-style: none;
}

.v-expansion-panel-content__wrap {
  padding: 0px !important;
}



.theme--dark.v-application {
  background: #CCC;
}








/* FONTS SIZES MEDIA QUERIES */
@media (min-width: 768px) {
  h1 {
    font-size: 45px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 60px;
  }
}




/* OVERWRITE VUETIFY CONTAINER WIDTH */
@media (min-width: 320px) {
  .container {
    max-width: 280px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 688px !important;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px !important;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1820px !important;
  }
}